body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#updateVendedor{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.329);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.updateVendedorBg{
    width: 80%;
    height: 50%;
    display: flex;
    background-color: rgb(38, 41, 68);
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
}

.updateVendedorBg button{
    margin-top: 16px;
}

.updateVendedorButtonsOptions{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 90%;
}

.inputVendedor{
    width: 80%;
    margin: auto;
}

.inputOptions{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
